@import '../../../src/styles/colors';
@import '../../../src/styles/fonts';

#advent .app {
  font-family: "Museo", sans-serif;
  color: $dark;
  background-color: $primary;
  min-height: 100vh;
  padding: 64px 0;

  @media screen and (max-width: 768px) {
    padding: 32px 0;
  }

  button, input {
    font-family: inherit;
  }

  figure {
    margin: 0;
  }
}

* {
  outline: 1px dotted slateblue;
}

body {
  margin: 0;
}
